<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxy.demo.dao.IProductsDao">
  <resultMap id="BaseResultMap" type="com.cxy.demo.bean.ProductsDomain">
    <id column="prod_id" jdbcType="VARCHAR" property="prodId" />
    <result column="prod_name" jdbcType="VARCHAR" property="prodName" />
    <result column="img_path" jdbcType="VARCHAR" property="imgPath" />
    <result column="category_id" jdbcType="VARCHAR" property="categoryId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
  </resultMap>
  <sql id="Base_Column_List">
    prod_id, prod_name, img_path, category_id, category_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from products_t
    where prod_id = #{prodId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from products_t
    where prod_id = #{prodId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cxy.demo.bean.ProductsDomain">
    insert into products_t (prod_id, prod_name, img_path, 
      category_id, category_name)
    values (#{prodId,jdbcType=VARCHAR}, #{prodName,jdbcType=VARCHAR}, #{imgPath,jdbcType=VARCHAR}, 
      #{categoryId,jdbcType=VARCHAR}, #{categoryName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cxy.demo.bean.ProductsDomain">
    insert into products_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="prodId != null">
        prod_id,
      </if>
      <if test="prodName != null">
        prod_name,
      </if>
      <if test="imgPath != null">
        img_path,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="categoryName != null">
        category_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="prodId != null">
        #{prodId,jdbcType=VARCHAR},
      </if>
      <if test="prodName != null">
        #{prodName,jdbcType=VARCHAR},
      </if>
      <if test="imgPath != null">
        #{imgPath,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null">
        #{categoryName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxy.demo.bean.ProductsDomain">
    update products_t
    <set>
      <if test="prodName != null">
        prod_name = #{prodName,jdbcType=VARCHAR},
      </if>
      <if test="imgPath != null">
        img_path = #{imgPath,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null">
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
    </set>
    where prod_id = #{prodId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cxy.demo.bean.ProductsDomain">
    update products_t
    set prod_name = #{prodName,jdbcType=VARCHAR},
      img_path = #{imgPath,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=VARCHAR},
      category_name = #{categoryName,jdbcType=VARCHAR}
    where prod_id = #{prodId,jdbcType=VARCHAR}
  </update>
</mapper>