<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxy.demo.dao.IOrderDao" >
  <resultMap id="BaseResultMap" type="com.cxy.demo.bean.OrderDomain" >
    <id column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="customer_add" property="customerAdd" jdbcType="VARCHAR" />
    <result column="customer_phone" property="customerPhone" jdbcType="VARCHAR" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, customer_name, customer_add, customer_phone, customer_id, create_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from order_t
    where order_id = #{orderId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from order_t
    where order_id = #{orderId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cxy.demo.bean.OrderDomain" >
    insert into order_t (order_id, customer_name, customer_add, 
      customer_phone, customer_id, create_date
      )
    values (#{orderId,jdbcType=VARCHAR}, #{customerName,jdbcType=VARCHAR}, #{customerAdd,jdbcType=VARCHAR}, 
      #{customerPhone,jdbcType=VARCHAR}, #{customerId,jdbcType=INTEGER}, #{createDate,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cxy.demo.bean.OrderDomain" >
    insert into order_t
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="customerName != null" >
        customer_name,
      </if>
      <if test="customerAdd != null" >
        customer_add,
      </if>
      <if test="customerPhone != null" >
        customer_phone,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerAdd != null" >
        #{customerAdd,jdbcType=VARCHAR},
      </if>
      <if test="customerPhone != null" >
        #{customerPhone,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxy.demo.bean.OrderDomain" >
    update order_t
    <set >
      <if test="customerName != null" >
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerAdd != null" >
        customer_add = #{customerAdd,jdbcType=VARCHAR},
      </if>
      <if test="customerPhone != null" >
        customer_phone = #{customerPhone,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=DATE},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cxy.demo.bean.OrderDomain" >
    update order_t
    set customer_name = #{customerName,jdbcType=VARCHAR},
      customer_add = #{customerAdd,jdbcType=VARCHAR},
      customer_phone = #{customerPhone,jdbcType=VARCHAR},
      customer_id = #{customerId,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=DATE}
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
</mapper>